<div id="config_panel">
    <div id="settings_form" class="default_form">
        <div class="form_success">Informacija sėkmingai išsaugota</div>
        <div class="form_error">Klaida</div>
        <div class="form_row">
            <label for="controller_ip">Kontrolerio IP adresas:</label>
            <input id="controller_ip" name="controller_ip" class="text" value="{{ controllerIp }}">
        </div>
        <div class="form_row">
            <label for="controller_ip">Kontrolerio prievadas:</label>
            <input id="controller_port" name="controller_ip" class="text" value="{{ controllerPort }}">
        </div>
        <div class="form_row">
            <label for="controller_username">Kontrolerio vartotojo vardas:</label>
            <input id="controller_username" name="controller_username" class="text" value="{{ controllerUsername }}">
        </div>
        <div class="form_row">
            <label for="controller_password">Kontrolerio slaptažodis:</label>
            <input id="controller_password" name="controller_password" class="text" value="{{ controllerPassword }}">
        </div>
        <div class="form_row">
            <label for="snmp_community">SNMP slaptažodis:</label>
            <input id="snmp_community" name="snmp_community" class="text" value="{{ snmpCommunity }}">
        </div>
        <div class="form_row">
            <button id="submit_config" name="submit_config" class="submit_button" type="button">Siųsti</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#submit_config').on('click', function(){
            $('#settings_form .form_success').hide(200);
            $('#settings_form .form_error').hide(200);

            var controllerIp = $('#controller_ip').val();
            var controllerPort = $('#controller_port').val();
            var controllerUsername = $('#controller_username').val();
            var controllerPassword = $('#controller_password').val();
            var snmpCommunity = $('#snmp_community').val();

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{path('gui_ajax_config_save')}}",
                data: { 'controllerIp' : controllerIp, 'controllerPort' : controllerPort, 'controllerUsername' : controllerUsername, 'controllerPassword' : controllerPassword, 'snmpCommunity' : snmpCommunity },
                complete: function(xhr, textStatus) {
                    if (xhr.status == 200) {
                        $('#settings_form .form_success').show(200);
                    } else {
                        $('#settings_form .form_error').show(200);
                    }
                }
            });
        });
    });
</script>