<div id="rest_call_panel">
    <div id="rest_call_form" class="default_form panel_column_left">
        <div class="title">REST užklausa</div>
        <div class="form_success">Informacija sėkmingai išsaugota</div>
        <div class="form_error">Klaida</div>
        <div class="form_row">
            <label for="address">Kontrolerio adresas:</label>
            <input id="address" name="address" class="text" value="{{ controllerIp }}">
        </div>
        <div class="form_row">
            <label for="port">Kontrolerio prievadas:</label>
            <input id="port" name="port" class="text" value="{{ controllerPort }}">
        </div>
        <div class="form_row">
            <label for="path">Užklausos kelias:</label>
            <input id="path" name="path" class="text" value="">
        </div>
        <div class="form_row">
            <label for="method">Užklausos metodas:</label>
            <select id="method" name="method" class="select">
                {% for method in methods %}
                    <option value="{{ method }}" {% if loop.first %}selected="selected"{% endif %}>{{ method }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sub_title">Autentifikacijos duomenys:</div>
        <div class="form_row">
            <label for="username">Kontrolerio vartotojo vardas:</label>
            <input id="username" name="username" class="text" value="{{ controllerUsername }}">
        </div>
        <div class="form_row">
            <label for="password">Kontrolerio slaptažodis:</label>
            <input id="password" name="password" class="text" value="{{ controllerPassword }}">
        </div>
        <div class="sub_title">Parametrai:</div>
        <div class="form_row dynamic_row">
            <div class="form_row_column">
                <label for="parameter_name">Parametras:</label>
                <input name="parameter_name" class="text parameter_name" value="">
            </div>
            <div class="form_row_column">
                <label for="parameter_value">Reikšmė:</label>
                <input name="parameter_value" class="text parameter_value" value="">
            </div>
        </div>
        <div class="toggle_row_bottom_buttons">
            <div class="row_plus row_toggle_button">+</div>
            <div class="row_minus row_toggle_button" style="display: none;">-</div>
        </div>
        <div class="form_row">
            <button id="submit_call" name="submit_call" class="submit_button" type="button">Siųsti užklausą</button>
        </div>
    </div>
    <div id="rest_call_result" class="panel_column_right call_result">
        <div class="sub_title">Rezultatas:</div>
        <div class="result"></div>
    </div>
</div>
<script type="text/javascript">
    var toggleInProgress = false;

    $(document).ready(function(){

        // Submit
        $('#submit_call').on('click', function(){
            sendRESTCall();
        });

        // Add row
        $('.row_toggle_button.row_plus').click(function() {

            if (toggleInProgress == true) {
                return;
            }
            toggleInProgress = true;

            var lastRow = $(this).closest('.default_form').find('.dynamic_row').last();

            var newRow = lastRow.clone();

            newRow.hide();
            newRow.find('.parameter_name').val('');
            newRow.find('.parameter_value').val('');
            lastRow.after(newRow);

            newRow.slideDown(400, function() {
                checkPlusMinusButtons();
                toggleInProgress = false;
            });
        });

        // Remove row
        $('.row_toggle_button.row_minus').click(function() {
            if (toggleInProgress == true) {
                return;
            }
            toggleInProgress = true;

            var lastRow = $(this).closest('.default_form').find('.dynamic_row').last();

            lastRow.slideUp(400, function() {
                lastRow.remove();
                checkPlusMinusButtons();
                toggleInProgress = false;
            });
        });
    });

    function sendRESTCall()
    {
        $('#settings_form .form_success').hide(200);
        $('#settings_form .form_error').hide(200);

        var restCall = collectRestCallData();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{path('rest_ajax_call')}}",
            data: { 'restCall' : restCall },
            complete: function(xhr, textStatus) {
                if (xhr.status == 200) {
                    $('#settings_form .form_success').show(200);
                } else {
                    $('#settings_form .form_error').show(200);
                }
                $('#rest_call_result .result').html(xhr.responseText);
            }
        });
    }

    function collectRestCallData()
    {
        var restCall = {};

        restCall.address = $('#address').val();
        restCall.method = $('#method').val();
        restCall.port = $('#port').val();
        restCall.path = $('#path').val();

        restCall.username = $('#username').val();
        restCall.password = $('#password').val();

        var parameters = {};

        $('.dynamic_row').each(function() {
            var parameterName = $(this).find('.parameter_name').val();
            var parameterValue = $(this).find('.parameter_value').val();

            console.log(parameterValue);
            if (parameterName.length > 0 && parameterValue.length > 0) {
                parameters[parameterName] = JSON.parse(parameterValue);
            }
        });
        restCall.parameters = parameters;
        return restCall;
    }

    function checkPlusMinusButtons()
    {
        $('#rest_call_form').each(function() {
            if ($(this).find('.dynamic_row').length > 1) {
                $(this).find('.row_toggle_button.row_minus').show();
            } else {
                $(this).find('.row_toggle_button.row_minus').hide();
            }
        });
    }
</script>