<div id="config_panel">
    <div id="devices_list" class="default_form">
        <div class="form_row">
            <div class="form_row_column">
                <label for="network_switch_name">Pavadinimas:</label>
            </div>
            <div class="form_row_column">
                <label for="network_switch_address">IP adresas:</label>
            </div>
        </div>
        {% for device in devices %}
            <div class="form_row">
                <div class="form_row_column">
                    <input name="network_switch_name" class="text network_switch_name" value="{{ device.name }}">
                </div>
                <div class="form_row_column">
                    <input name="network_switch_address" class="text network_switch_address" value="{{ device.ipAddress }}">
                </div>
                <div class="form_row_column">
                    <div class="delete_button"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="devices_form" class="default_form">
        <div class="form_success">Informacija sėkmingai išsaugota</div>
        <div class="form_error">Klaida</div>
        <div class="form_row form_row_input">
            <div class="form_row_column">
                <input id="network_switch_name" name="network_switch_name" class="text network_switch_name" value="">
            </div>
            <div class="form_row_column">
                <input id="network_switch_address" name="network_switch_address" class="text network_switch_address" value="">
            </div>
            <div class="form_row_column">
                <div class="delete_button"></div>
            </div>
        </div>
        <div class="form_row">
            <button id="submit_config" name="submit_config" class="submit_button" type="button">Išsaugoti</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        disableRows();

        $('#submit_config').on('click', function(){
            var switchName = $('#network_switch_name').val();
            var switchAddress = $('#network_switch_address').val();
            var published = true;

            saveNetworkSwitch(switchName, switchAddress, published, addSwitch, $(this));
        });

        $('#devices_list').delegate('.delete_button', 'click', function(){
            var switchName = $(this).closest('.form_row').find('.form_row_column .network_switch_name').val();
            var switchAddress = $(this).closest('.form_row').find('.form_row_column .network_switch_address').val();
            var published = false;

            saveNetworkSwitch(switchName, switchAddress, published, removeSwitch, $(this));
        });
    });

    function saveNetworkSwitch(switchName, switchAddress, published, callback, $this) {
        $('#devices_form .form_success').hide(200);
        $('#devices_form .form_error').hide(200);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{path('gui_ajax_save_network_switch')}}",
            data: { 'name' : switchName, 'address' : switchAddress, 'published' : published },
            complete: function(xhr, textStatus) {
                callback(xhr.responseJSON.status, $this);
            }
        });
    }

    function addSwitch(textStatus, $this) {
        if (textStatus == 'success') {
            $('#devices_form .form_success').show(200);
            var newRow = $('#devices_form .form_row_input').clone();
            $('#devices_list').append(newRow);
            $('#devices_form .form_row_input input').val('');
        } else {
            $('#devices_form .form_error').show(200);
        }
        disableRows();
    }

    function removeSwitch(textStatus, $this) {
        if (textStatus == 'success') {
            $('#devices_form .form_success').show(200);
            $this.closest('.form_row').remove();
        } else {
            $('#devices_form .form_error').show(200);
        }
        disableRows();
    }

    function disableRows() {
        $('#devices_list input').prop('disabled', true);
    }
</script>