{% extends '::base.html.twig' %}

{% block body %}
    <div id="main_wrapper">
        <div id="main_container">
            {{ render(controller('GUIBundle:Default:topMenu')) }}
            <div id="home_item">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var item = $('.top_menu_item.active').data('menu-item');
            renderHomeItem(item);

            $('#top_menu').delegate('.top_menu_item:not(.active)', 'click', function(){
                $('.top_menu_item.active').removeClass('active');
                $(this).addClass('active');

                item = $(this).data('menu-item');
                renderHomeItem(item);
            });
        });

        function renderHomeItem(item) {
            $.ajax({
                type: "POST",
                url: "{{path('gui_ajax_get_top_menu_item')}}",
                data: { 'menuItem' : item },
                complete: function(xhr, textStatus) {
                    if (xhr.status == 200) {
                        $('#home_item').html(xhr.responseText);
                    }
                }
            });
        }
    </script>
{% endblock %}