<div id="rest_call_panel">
    <div id="rest_call_form" class="default_form panel_column_left">
        <div class="title">TOPOLOGIJA</div>
        <div class="form_row">
            <button id="submit_call" name="submit_call" class="submit_button" type="button">Siųsti užklausą</button>
        </div>
    </div>
    <div id="network_display" class="panel_full_width call_result"></div>
</div>
<script type="text/javascript">
    var network = null;
    $(document).ready(function() {
        // Submit
        $('#submit_call').on('click', function () {
            sendRESTCall();
        });
    });

    function sendRESTCall()
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{path('topology2_discover_ajax_call')}}",
            complete: function(xhr, textStatus) {
                if (xhr.status == 200) {
                    $('#settings_form .form_success').show(200);
                } else {
                    $('#settings_form .form_error').show(200);
                }


                var result = JSON.parse(xhr.responseText);

                var nodes = new vis.DataSet(result.nodes);

                var edges = new vis.DataSet(result.edges);

                var container = document.getElementById('network_display');

                var data = {
                    nodes: nodes,
                    edges: edges
                };

                var options = {};

                network = new vis.Network(container, data, options);
            }
        });
    }
</script>