<div id="rest_call_panel">
    <div id="rest_call_form" class="default_form panel_column_left">
        <div class="title">MATAVIMAI</div>
        <div class="form_row">
            <label for="sample_size">Bandymų skaičius:</label>
            <input id="sample_size" name="sample_size" class="text" value="100">
        </div>
        <div class="form_row">
            <button id="submit_call" name="submit_call" class="submit_button" type="button">Siųsti užklausą</button>
        </div>
    </div>
    <div id="rest_call_result" class="panel_column_right call_result">
        <div class="sub_title">Rezultatas:</div>
        <div class="result"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Submit
        $('#submit_call').on('click', function () {
            sendRESTCall();
        });
    });

    function sendRESTCall()
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{path('measurement_measure_topology_discovery')}}",
            data: { 'sample_size' : $('#sample_size').val() },
            complete: function(xhr, textStatus) {
                if (xhr.status == 200) {
                    $('#settings_form .form_success').show(200);
                } else {
                    $('#settings_form .form_error').show(200);
                }
                $('#rest_call_result .result').html(xhr.responseText);
            }
        });
    }
</script>