<div id="rest_call_panel">
    <div id="rest_call_form" class="default_form panel_column_left">
        <div class="title">SNMP užklausa</div>
        <div class="form_success">Informacija sėkmingai išsaugota</div>
        <div class="form_error">Klaida</div>
        <div class="form_row exclusive_group_changer" data-exclusive–group–number="1">
            <label for="method">Užklausos metodas:</label>
            <select id="method" name="method" class="select">
                {% for method, url in snmpRequestMethods %}
                    <option value="{{ method }}" {% if loop.first %}selected="selected"{% endif %} data-url="{{ url }}">{{ method }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_row exclusive_group" data-exclusive–group–number="1" data-exclusive–group–constraint="GET">
            <label for="type">Užklausos tipas:</label>
            <select id="type" name="type" class="select">
                {% for type in snmpGetTypes %}
                    <option value="{{ type }}" {% if loop.first %}selected="selected"{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_row exclusive_group" data-exclusive–group–number="1" data-exclusive–group–constraint="SET" style="display: none">
            <label for="value">Reikšmė:</label>
            <input id="value" name="value" class="text" value="">
        </div>
        <div class="form_row">
            <label for="address">Įrenginio adresas:</label>
            <input id="address" name="address" class="text" value="">
        </div>
        <div class="form_row">
            <label for="oid">OID:</label>
            <input id="oid" name="oid" class="text" value="">
        </div>
        <div class="form_row">
            <label for="community">SNMP slaptažodis:</label>
            <input id="community" name="community" class="text" value="{{ snmpCommunity }}">
        </div>
        <div class="form_row">
            <button id="submit_call" name="submit_call" class="submit_button" type="button">Siųsti užklausą</button>
        </div>
    </div>
    <div id="rest_call_result" class="panel_column_right call_result">
        <div class="sub_title">Rezultatas:</div>
        <div class="result"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        // Submit
        $('#submit_call').on('click', function () {
            sendRESTCall();
        });

        $('.exclusive_group_changer select').on('change', function () {
            var groupNumber = $(this).closest('.exclusive_group_changer').data('exclusive–group–number');
            $('.exclusive_group[data-exclusive–group–number="' + groupNumber + '"]').hide();
            var constraint = $(this).val();
            $('.exclusive_group[data-exclusive–group–constraint="' + constraint + '"]').show();
        });
    });

    function sendRESTCall()
    {
        $('#settings_form .form_success').hide(200);
        $('#settings_form .form_error').hide(200);

        var restCall = collectRestCallData();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{path('snmp_ajax_call')}}",
            data: { 'snmpRequest' : restCall },
            complete: function(xhr, textStatus) {
                if (xhr.status == 200) {
                    $('#settings_form .form_success').show(200);
                } else {
                    $('#settings_form .form_error').show(200);
                }
                $('#rest_call_result .result').html(xhr.responseText);
            }
        });
    }

    function collectRestCallData()
    {
        var restCall = {};

        restCall.method = $('#method :selected').data('url');
        restCall.type = $('#type').val();
        restCall.value = $('#value').val();
        restCall.address = $('#address').val();
        restCall.oid = $('#oid').val();
        restCall.community = $('#community').val();

        return restCall;
    }
</script>