<div id="top_menu">
    {% for menuItem, menuItemName in menuItems %}
        <div id="top_menu_item_{{ menuItem }}" class="top_menu_item {% if loop.first %}active{% endif %}" data-menu-item="{{ menuItem }}">
            {{ menuItemName }}
        </div>
    {% endfor %}
</div>