// Variables
@white-color: #FFFFFF;
@light-grey-color: #DDDDDD;
@grey-color: #BBBBBB;
@dark-grey-color: #999999;
@light-main-color: #5ac5d6;
@main-color: #4698a9;
@main-color-darker: #35707f;

// Mixins
.rounded-corners(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.hand {
    cursor: pointer;
    cursor: hand;
}
.hidden {
    display: none;
}

body {
    background-color: @light-grey-color;
}
#main_wrapper {
}
#main_container {
    background-color: @white-color;
    width: 100%;
    margin: 0 auto;
    display: block;
    .rounded-corners;
}
#home_item {
    padding: 25px;
}
#top_menu{
    width: 100%;
    height: 50px;
    background-color: @main-color;
    .top_menu_item {
        width: 175px;
        height: 50px;
        line-height: 50px;
        font-size: 35px;
        float: left;
        text-align: center;
        border-right: 1px solid @main-color-darker;
        color: @white-color;
        .hand;
        &.active {
            cursor: default;
            background-color: @white-color;
            color: @main-color;
        }
    }
}
.panel_column_right {
    width: 400px;
    display: inline-block;
    position: absolute;
    .sub_title {
        width: 370px;
        .rounded-corners;
        margin-bottom: 2px;
        height: 25px;
        line-height: 25px;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;
        color: @light-main-color;
    }
}
.panel_column_left {
    width: 750px;
    display: inline-block;
}
.panel_full_width {
    width: 90%;
    display: block;
}
.call_result {
    padding: 15px;
    background-color: @white-color;
}
#network_display {
    height: 600px;
    border: 1px solid lightgray;
}
.default_form {
    .title {
        .rounded-corners;
        margin-bottom: 2px;
        width: 626px;
        height: 25px;
        line-height: 25px;
        padding: 10px 15px;
        font-size: 24px;
        text-align: center;
        color: @light-main-color;
    }
    .sub_title {
        .rounded-corners;
        margin-bottom: 2px;
        width: 626px;
        height: 25px;
        line-height: 25px;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;
        color: @light-main-color;
    }
    .form_row {
        display: block;
        margin-bottom: 2px;
        input.text {
            display: inline-block;
            border: 1px solid #e3e7ea;
            .rounded-corners;
            padding: 15px;
            width: 318px;
            color: #999;
        }
        .select {
            display: inline-block;
            border: 1px solid #e3e7ea;
            .rounded-corners;
            padding: 15px;
            width: 350px;
            color: #999;
        }
        label {
            display: inline-block;
            height: 47px;
            width: 350px;
            line-height: 47px;
            font-size: 24px;
        }
        .submit_button {
            display: inline-block;
            border: 1px solid #e3e7ea;
            .rounded-corners;
            line-height: 47px;
            font-size: 24px;
            width: 350px;
            color: #999;
            margin-left: 354px;
            .hand;
        }
        .form_row_column {
            display: inline-block;
            vertical-align:top;
            label {
                display: block;
            }
            input.text {
                display: block;
            }
            .select {
                display: block;
            }
        }
    }
    .toggle_row_bottom_buttons {
        .row_toggle_button {
            background: @main-color;
            color: @white-color;
            font-size: 30px;
            height: 49px;
            line-height: 49px;
            width: 49px;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            .rounded-corners;
            .hand;
            margin: 10px 0px;
        }
    }
    .form_success {
        display: none;
        .rounded-corners;
        margin-bottom: 2px;
        width: 722px;
        height: 25px;
        line-height: 25px;
        padding: 10px 15px;
        font-size: 24px;
        background-color: #d1f4cc;
        border: 1px solid #90e582;
    }
    .form_error {
        display: none;
        .rounded-corners;
        margin-bottom: 2px;
        width: 722px;
        height: 25px;
        line-height: 25px;
        padding: 10px 15px;
        font-size: 24px;
        background-color: #F4E2D3;
        border: 1px solid #E58282;
    }
}
#devices_form {
    .delete_button {
        display: none;
    }
}
.delete_button {
    height: 47px;
    width: 47px;
    .rounded-corners;
    .hand;
    display: block;
    background: #e3e7ea url('../image/icons/close_button.svg') no-repeat center center;
}